

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, 
input, 
button {
    font-family: Arial, sans-serif;
    text-decoration: none;
    color: #757575;
    
    
}

html, body {
   height: 100%; 
}

body{
    display: flex;
    flex-direction: column;

}

/* header */

.menu{
    height: 48px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.menu__section {
    display: flex;
    align-items: center;
}
.menu__section.left .menu__icon {
    padding: 12px 16px;
    
    
}

.menu__link{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    color: #757575;
    padding: 12px 8px;
    text-decoration: none;
    
}
.menu__link:hover{
    color: #4285f4; 
    border-bottom: 2px solid #4285f4;
    cursor: pointer;
    
}
.menu__link:not(.active){
   margin-bottom: 2px;
    text-decoration: none;
}

/* main */
.content {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 56px 8px 0;
    align-items: center;
    
}
.content__logo{
    height: 56px;

}
.content__search{
    margin-top: 18px;
    width: 100%;
    max-width: 736px;
    padding: 7px 10px 6px 20px;
    font-size: 18px;
    color: rgba(0,0,0,0.87);
    background: transparent;
    border-radius: 25px;
    border: 1px solid #dadce0;
    outline: 0;
}
.content__search:focus {
    border: 1px solid orange;
}

.content__offer{
    margin-top:24px ;
    font-size: 13px;
    padding: 6px 12px;
}
.content__offer a{
    text-decoration: none;
    color: #1967d2;
}

.logo__redes{
    width: 20px;

}

/* main sobre mim */
.imagem__papel {
    position: absolute;
    top: 50px;
}

.divLeft {
    width: 100%;
    height: 949px;
    float: left;
    position: relative;
}

#spaceText {
    padding-right: 16px;
}

#photo {
    width: 1600px;
    height: 949px;
}

.textDiv{
   position: absolute;
   top: 120px;
   left: 220px;
   /* bottom: px; */
   /*cor apenas para exmplo*/
   color: #fff;
}
.textDiv2{
    position: absolute;
    top: 220px;
    left: 70px;
    font-family: cursive;
    /* bottom: px; */
    /*cor apenas para exmplo*/
    color: rgb(71, 71, 71);
 }

.textDiv3{
    position: absolute;
    top: 220px;
    left: 150px;
    font-family: cursive;
    /* bottom: px; */
    /*cor apenas para exmplo*/
    color: rgb(0, 0, 0);
 }

 /* main projeto */

 .linha{
    display: flex;
    flex-direction: column;
    /* flex-flow: row wrap; */
    width: 100%;
    height: 100%;
    padding: 0 60px;
    align-items: center;


   
    
    
}

.coluna-50 {
    width: 50%;
}

.coluna-502 {
    width: 50%;
}

/* .imagem__projeto {
    padding:0 100 0 0px;
    
} */





/* Footer */
.footer{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    background: #f2f2f2;
}

.footer__section:not(:first-child) {
    border-top: 1px solid #e4e4e4;
    
}

.footer__location {
    font-size: 16px;
    color: rgba(0,0,0,0.54);
    padding: 10px 12px;
    
}

.footer__links {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    color: #5f6368;
    padding: 10px;
    
}

.footer__links a:not(:first-child){
    margin-left: 27px;
    
}

@media (min-width: 763px) {
    .content{
        padding-top: 120px;

    }
    .content__logo {
        height: 150px;
    }
    .divLeft {
        height: 150px;
    }
    .linha {
        flex-direction: row;
        
    }
        
    
}

.lyrics{

    font-family: Georgia, 'Times New Roman', Times, serif;
    /* text-transform: uppercase; */
    font-size: 20px;
    font-weight: 600;
    color: #2c6079;
}
.botao{
    height: 20px;
    width: 40px;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #5f6368;
}
.caixa__formulario{
    height: 30px;
    width: 300px;
    border-radius: 4px;
    border:  1px solid #5f6368;
}
.area__mensagem {
    height: 130px;
    width: 300px;
    border-radius: 8px;
    border: 1px solid #5f6368;
}

.center {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.centralizar {
    width: 400px;
}

.centralziar2 {
    width: 300px;
}
.textoinicial {
    font-family: 'Arial, sans-serif';
    font-size: 35px;
    color: #303030;
    margin: 10px 20px 20px 20px;
    text-align: center;
}
.textoprojeto {
    font-family: Arial, sans-serif;
    color: rgb(87, 84, 84);
    font-size: 20px;
    margin: 10px 0 0 0px;
    text-indent: 1cm;
    text-align: justify; 
}
.itenstextoinicial {
    font-family: Arial, sans-serif;
    color: rgb(97, 91, 91);
    font-size: 18px;
    margin: 10px 0 0 0px;
}
.imagemportfolio {
    
    margin: 10px 40px;
    border-radius: 15px;
    

}
.alinhando {
    display: flex;
    flex-direction: column;
    align-items: center;
}

