.centralizar-texto{
    text-align: center;
}

#cor1 {
    
    background-color:  #45525B;
    color: white;
}
#cor2 {
    background-color:#A8BAC6 ;
    color: white;
}
#cor3 {
    background-color: #F9B14F;
    color: white;
}
#cor4 {
    background-color:#FD7D02 ;
    color: white;
}
.corA {
    background-color: #45525B;
    color: white;
}
.corB {
    background-color: #A8BAC6;
    color: white;
}
.corC {
    background-color: #F9B14F;
    color: white;
}
.corD {
    background-color: #FD7D02;
    color: white;
}